data/original/cheetah
data/original/lion
data/sythetic/cheetah
data/sythetic/lion
env
data/synthetic/cheetah
data/synthetic/lion
dataset/__pycache__
lightning_logs
model/__pycache__
.idea
checkpoints/best.pt
venv
.ipynb_checkpoints
checkpoints
